<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zekka.pizzeria" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/pizza"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ListinoActivity"
            android:label="@string/title_activity_listino"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OrdineActivity"
            android:label="@string/title_activity_ordine"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ModificaPizzaActivity"
            android:label="@string/title_activity_modifica_pizza"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
